<br>
<div class = "row justify-content-center">


  <%= image_tag("cockroach-silhouette.svg", class: "img-thumbnail bg-light") %>
  <%= image_tag("rat-looking-right.svg", class: "img-thumbnail bg-light ") %>
  <%= image_tag("fly-shape.svg", class: "img-thumbnail bg-light") %>

</div>

<p class = "center">
  Updated Daily, search by zip below or view a list above
</p>

</div>

<div ="top">

</div>

  <%= form_tag(search_path, :method => "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search Recipes" %>
    <%= submit_tag "Search", :name => nil %>
<% end %>

<br>
