<!DOCTYPE html>
<html>
  <head>

    <title>FoodGrade</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%# google font links below %>
    <%# bootstrap link below %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= yield :javascript_includes %>
    <link href="//fonts.googleapis.com/css?family=Black+Ops+One|Bowlby+One+SC|Ceviche+One|Creepster|Faster+One|Frijole|Londrina+Outline|Montserrat+Subrayada|Ruslan+Display|Shojumaru|Zilla+Slab+Highlight|" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">
    <%# favicon %>
    <link rel="shortcut icon" href="/cockroach-silhouette.svg" type="image/x-icon">
  </head>

  <body>

<%# navbar %>
<nav class="navbar navbar-dark bg-dark justify-content-center">
  <a class="text-center navbar-brand" href="/">NYC FOOD SAFETY RATINGS</a>
</nav>
<%# secondary navbar %>
<nav class="nav nav-pills nav-fill nav-light bg-light">
  <%=link_to manhatten_path, class: "nav-item nav-link" do %>Manhattan<%end%>
  <%=link_to brooklyn_path, class: "nav-item nav-link" do %>Brooklyn<%end%>
  <%=link_to queens_path, class: "nav-item nav-link" do %>Queens<%end%>
  <%=link_to bronx_path, class: "nav-item nav-link" do %>Bronx<%end%>
  <%=link_to statenisland_path, class: "nav-item nav-link" do %>Staten Island<%end%>

  <%# <a class="nav-item nav-link" href="boroughs/brooklyn">Brooklyn</a>
  <a class="nav-item nav-link" href="queens">Queens</a>
  <a class="nav-item nav-link" href="bronx">Bronx</a>
  <a class="nav-item nav-link" href="statenisland">Staten Island</a> %>
</nav>

<%# <div class="card bg-dark text-white">
  <img class="card-img" src="sykline-bar.jpeg" alt="Card image">
  <div class="card-img-overlay">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Search by zipcode to see current health inspection details</p>
    <p class="card-text">Information updated Daily</p>
  </div>
</div> %>





    <%= yield %>



<%# axios link below %>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<%# bootstrap links below %>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>





</body>
<footer> </footer>

</html>
